<link rel="stylesheet" type="text/css" href="css/style.css">


body {
    	background-color: RGB
 170, 76, 225;
    	color: white;
	}

h1 {
    	font-family: 'Notable', sans-serif;
    	color: gray;
    	font-size: 50px;
	}

a {
    	color: red;
    	font-family: 'Dancing Script', cursive;
    	font-size: 24px;
    	text-decoration: none;
	}

a:hover{
  	color: green;
	}
